<div class="container text-center">
  <div class="card">
    <h1>Rafael Andrade - <i>@rafaelandrade0</i></h1>
    <h3>Frontend Developer</h3>
    <div>
      <a href="https://github.com/RafaelAndrade0">
        <img
          class="social-link"
          src="assets/img/github.svg"
          alt="github-logo"
        />
      </a>
      <a href="https://www.linkedin.com/in/rafael-andrade-silva-0bb666153/">
        <img
          style="margin-left: 1em"
          class="social-link"
          src="assets/img/linkedin.svg"
          alt="linkedin-logo"
      /></a>
    </div>
  </div>
</div>
