<nav class="navbar bg-dark">
  <h1>GitHub App</h1>
  <ul>
    <li>
      <a>Home</a>
    </li>
    <li>
      <a>About</a>
    </li>
  </ul>
</nav>

<div class="container">
  <form class="form">
    <input
      type="text"
      placeholder="Digite o nome do usuário..."
      name="search"
    />
    <input type="submit" value="Procurar!" class="btn btn-primary btn-block" />
  </form>

  <div class="grid-3">
    <div class="card text-center">
      <img
        src="https://vignette.wikia.nocookie.net/rickandmorty/images/a/a6/Rick_Sanchez.png/revision/latest/top-crop/width/360/height/360?cb=20160923150728"
        alt=""
        class="round-img"
        style="width: 60px"
      />
      <h3>Fulano de Tal</h3>
      <div class="grid-2">
        <span class="btn btn-dark">Repos</span>
        <span class="btn btn-danger">Stars</span>
      </div>
    </div>

    <div class="card text-center">
      <img
        src="https://vignette.wikia.nocookie.net/rickandmorty/images/a/a6/Rick_Sanchez.png/revision/latest/top-crop/width/360/height/360?cb=20160923150728"
        alt=""
        class="round-img"
        style="width: 60px"
      />
      <h3>Fulano de Tal</h3>
      <div class="grid-2">
        <span class="btn btn-dark">Repos</span>
        <span class="btn btn-danger">Stars</span>
      </div>
    </div>

    <div class="card text-center">
      <img
        src="https://vignette.wikia.nocookie.net/rickandmorty/images/a/a6/Rick_Sanchez.png/revision/latest/top-crop/width/360/height/360?cb=20160923150728"
        alt=""
        class="round-img"
        style="width: 60px"
      />
      <h3>Fulano de Tal</h3>
      <div class="grid-2">
        <span class="btn btn-dark">Repos</span>
        <span class="btn btn-danger">Stars</span>
      </div>
    </div>
  </div>
</div>
